.info1
{	
	color: #CCC;
	position: relative;
	width: 380px;
	left: 460px;
	bottom: 100px;
	
}

.info1 p
{
	margin:0;
}

.info2
{
	background-color: #427B91;
	border-radius: 20px;
	width: 300px;
	height: auto;
	color:#CCC;
	position: relative;
	left: 500px;
	bottom: 300px;
	padding: 5px;
}

.formulario
{
	color:#FFF;
	position: relative;
	left:60px;
	top:100px;
	width: 380px;
	border-right:1px solid #FFF;
	padding-right: 13px;
}
.formulario input[type=text], input[type=email] 
{
	width: 300px;
	text-align: left;
}

.formulario input[type=submit], input[type=reset]
{
	background: #A3D0FF;
	border: none;
	display: block;
	position: relative;
	left: 250px;
}

h2
{
	color: #CCC;
	margin: 0;
	padding: 0;
	position: relative;
	width: 200px;
	height: 30px;
	left: 60px;
	top: 50px;
}



.redes img
{
	margin: 1.5px;
}
.redes p
{
	color: #FFF;
}

.redes
{
	width: 280px;
	height: 50px;
	color:#FFF;
	position: relative;
	left:510px;
	bottom:-50px;
}

textarea
{
	width: 300px;
	text-align: left;
}
