@font-face {
	font-family: 'iconitos';
	src:url('../fonts/icomoon.eot?nwmkrn');
	src:url('../fonts/icomoon.eot?#iefixnwmkrn') format('embedded-opentype'),
		url('../fonts/icomoon.woff?nwmkrn') format('woff'),
		url('../fonts/icomoon.ttf?nwmkrn') format('truetype'),
		url('../fonts/icomoon.svg?nwmkrn#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

.container{

}
.lado{
	background: #FFC147;
	width: 260px;
	height: 300px;
	position: absolute;
	top: 200px;
	right:180px;
}
h2{
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	text-align: left;
	font-size: 35px;
}
.texto{
	margin: 10px 0px 0px 0px;
	border-radius: 0.5em 0.5em 0.5em 0.5em;
}
.menu2{
	padding: 0;
	margin: 0;
}
li{  
	display: block;
	padding: 12px;
	margin: 0px 10px 0px 10px;
}

li:first-child{
	border-bottom: solid 1px #fff;
	padding: 0;
}
li a{
	padding: 0px 0px 0px 10px;
}
.item1:before{
	font-family: "iconitos";
	content: "\e605";
}
.item2:before{
	font-family: "iconitos";
	content: "\e602";
}
.item3:before{
	font-family: "iconitos";
	content: "\e603";
}
.item4:before{
	font-family: "iconitos";
	content: "\e601";
}
.item5:before{
	font-family: "iconitos";
	content: "\e604";
}
.item6:before{
	font-family: "iconitos";
	content: "\e600";
}
.plugin{
	background: #8AFF92;
	height: 300px;
}
.plugin p{
	padding: 0;
	margin: 0;
}

.principal{
	background: #333;
	color: #fff;
	margin:0px 300px 0px 50px;

}

.redes{
	color: #fff;
	height: 70px;
	margin-top: 20px;
}
.redes p {
	padding: 0px 0px 10px 0px;
	margin: 0;
}

.texto{
	/*background: #E80C7A;*/
}

.titulo{
	padding: 30px 0px 25px 0px;
	background: #000;
}