@charset "utf-8";

@font-face {
	font-family: 'botoncitos';
	src:url('../fonts/icomoon.eot?nwmkrn');
	src:url('../fonts/icomoon.eot?#iefixnwmkrn') format('embedded-opentype'),
		url('../fonts/icomoon.woff?nwmkrn') format('woff'),
		url('../fonts/icomoon.ttf?nwmkrn') format('truetype'),
		url('../fonts/icomoon.svg?nwmkrn#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

*
{
	font-family: 'Roboto',sans-serif;
	
}
a
{
	color: #FFF;
	text-decoration: none;
}
a:hover
{
	color: #CCC;
}
.barrasuperior
{
	background-color: #000;
	height: 50px;
	position: absolute;
	top: 0px;
	width: 100%;
	margin-left:-8px;
	-webkit-box-shadow: 0px 6px 18px 0px rgba(255, 255, 255, 0.39);
-moz-box-shadow:    0px 6px 18px 0px rgba(255, 255, 255, 0.39);
box-shadow:         0px 6px 18px 0px rgba(255, 255, 255, 0.39);
}

.barrasuperior a:hover
{
	cursor: pointer;
}

body
{
	background:#1E5A69;
}
.boton1{
}
.boton1:before{
	font-family: "botoncitos";
	content: "\e601";
}
.boton1:after{
	
	font-family: "botoncitos";
	content: "\e605";
}
.boton2{
	color: #fff;
	font-size: 20px;
}
.boton2:before{
	font-family: "botoncitos";
	content: "\e600";
}
.boton3{
	font-size: 20px;

}
.boton3:before{
	font-family: "botoncitos";
	content: "\e604";
}
.boton4{
	color: #fff;
	font-size: 30px;
}
.boton4:before{
	font-family: "botoncitos";
	content: "\e603";
}
.boton4:hover{
	cursor: pointer;
	color: green;
}

.boton5{
	color: #fff;
	font-size: 30px;
}
.boton5:before{
	font-family: "botoncitos";
	content: "\e602";
}
.boton5:hover{
	cursor: pointer;
	color: red;
}
.contacto
{
	background: url(../img/contacto.png);
	background-size: 100%;
}

.contacto:hover
{
	border-left: 4px solid #D4450B;
}

.container
{
	margin: 40px 0px 0px 60px;
	height: 500px;
}
.contenedor_principal
{
	height: auto;
	margin:0 auto;
	width: 960px;
	margin-bottom: 50px;
	background-color: #000;
	padding-bottom: 20px;
	border-radius: 10px;
	
}

#fade
{
	background-color: rgba(1,1,1,0.9);
	display: none;
	filter: alpha(opacity=70);
	height: 100%;
	left: 0%;
	moz-opacity: 0.7;
	opacity: .70;
	position: fixed;
	top: 0%;
	width: 100%;
	z-index: 1001;
}

footer
{
	width: 100%;
	background-color: #000;
	position: absolute;
	margin-left:-8px;
	margin-bottom: 0;
	height: 50px;
	text-align: center;
	clear: both;
	-webkit-box-shadow: 0px -6px 18px 0px rgba(255, 255, 255, 0.39);
	-moz-box-shadow:    0px -6px 18px 0px rgba(255, 255, 255, 0.39);
	box-shadow:         0px -6px 18px 0px rgba(255, 255, 255, 0.39);
}

footer small
{
	opacity: 0.5;
	position: absolute;
	left: 50px;
	margin-top:15px;
	color: #FFF;
}

h1
{
	font-size:3.4em;
	margin:3px 10px 0px 0px;
	position: relative;
	left: 14px;
	color: #000;
}

header
{
	height: 80px;
	margin-top: 80px;
	position: relative;
	width:100%;
	background-color: #D4450B;
	border-radius: 10px 10px 0 0;
}

.inicio
{
	background: url(../img/inicio.png);
	background-size: 100%;
}

.inicio:hover
{
	border-left: 4px solid #D4450B;
}

.inicio,.nosotros,.soporte,.contacto,.servicios
{
	background-repeat: no-repeat;
	background-size: 100%;
	height: 80px;
	width: 100px;
}

#light
{
	background-color: #000;
	display: none;
	overflow: visible;
	padding: 10px;
	position: fixed;
	top: 40%;
	left: 37%;
	z-index: 1002;
	width: 300px;
	border-radius: 10px;
	border: 1px solid #FF0;
}
#light p
{
	color: #FF0;
}

.Login_mostrar
{
	display: none;
	position: absolute;
	right: 30px;
	top: 10px;
}

.loginButton
{
	position: absolute;
	right: 20px;
	top: 10px;
	font-size: 20px;
}

.logo
{
	background:#1E5A69;
	background-size: 100%;
	border: 3px #fff solid;
	border-radius: 100%;
	float: left;
	height: 150px;
	margin-left: 15px;
	margin-top: -50px;
	width: 150px;
}
.logo .imagen
{
	background-image: url(../img/logo.png);
	background-repeat: no-repeat;
	background-size: 100%;
	height:100px;
	left: -18px;
	position: relative;
	top: 20px;
	width: 180px;
	
}

/*
@-webkit-keyframes rotater {
    0% { -webkit-transform:rotate(0) scale(1) }
	50% { -webkit-transform:rotate(360deg) scale(1) }
	100% { -webkit-transform:rotate(360deg) scale(1) }
}
Debido a que no funciona igual en todos los navegadores lo deshabilité


.logo .imagen:hover{
	opacity: 1;
	  safari / chrome 
    -webkit-animation-name:rotater; 
    -webkit-animation-duration:1s; 
    -webkit-animation-iteration-count:1; 
    -webkit-animation-timing-function: ease-out;
    
     mozilla 
    -moz-transform:rotate(360deg) scale(2);
    -moz-transition-duration:1s;
    -moz-transition-timing-function: ease-out;
    
     opera 
    -o-transform:rotate(360deg) scale(2);
    -o-transition-duration:1s;
    -p-transition-timing-function: ease-out;
    
     ie 
    -ms-transform:rotate(360deg) scale(2);
    -ms-transform-duration:1s;
    -ms-transform-timing-function: ease-out;
	z-index: 1000;
}

*/

nav
{ 
	background: #000;
	cursor: pointer;
	height: auto;
	position: absolute;
	top: 210px;
	width:10px;
	background-size: 100%;
	background-repeat: no-repeat;
}

.nosotros
{
	background: url(../img/nosotros.png);
	background-size: 100%;
}

.nosotros:hover
{
	border-left: 4px solid #D4450B;
}

.servicios
{
	background: url(../img/servicios.png);
	background-size: 100%;
}

.servicios:hover
{
	border-left: 4px solid #D4450B;
}

.soporte
{
	background: url(../img/soporte.png);
	background-size: 100%;
}

.soporte:hover
{
	border-left: 4px solid #D4450B;
}

.volver 
{
	width: 40px;
	height: 40px;
	background-image: url(../img/back.png);
	position: absolute;
	right: 40px;
	bottom: 30px;
	cursor: pointer;
}



