@charset "utf-8";
*
{
	font-family: 'Roboto',sans-serif;
	
}
a
{
	color: #FFF;
	text-decoration: none;
}
a:hover
{
	color: #CCC;
}
.barrasuperior
{
	background-color: #000;
	height: 50px;
	position: absolute;
	top: 0px;
	width: 100%;
	margin-left:-8px;
}

.barrasuperior a:hover
{
	cursor: pointer;
}

body
{
	background-color: #1E5A69;
	font-size: 16px;
	height: 100%;
	overflow:hidden;
}

button 
{	
	border-radius: 2px;
	position: absolute;
	margin-left: 267px;
}
.contacto
{
	background: url(../img/contacto.png);
	background-size: 100%;
}
.contacto:hover
{
	opacity: 1;
}
.container
{
	background-color: rgba(0,0,0,0.7);
	height: 450px;
	margin: 40px 0px 0px 60px;
	width: 900px;
	border-radius: 5px;
	
}
.contenedor_principal
{
	height: auto;
	margin: auto;
	width: 960px;
}

#fade
{
	background-color: rgba(1,1,1,0.9);
	display: none;
	filter: alpha(opacity=70);
	height: 100%;
	left: 0%;
	moz-opacity: 0.7;
	opacity: .70;
	position: fixed;
	top: 0%;
	width: 100%;
	z-index: 1001;
}

footer
{
	color: #000;
	margin: auto;
}
h1
{
	color: #FFF;
	font-size:3.4em;
	margin:3px 10px 0px 0px;
}
header
{
	background-color: #0971B2;
	border: solid #000;
	border-radius: 50px;
	box-shadow: #000 0 0 30px;
	height: 80px;
	margin-bottom: 20px;
	margin-left: 0;
	margin-top: 60px;
	position: relative;
	width: 500px;
	z-index: 3;
}

html
{
	height: 100%;
}
.inicio
{
	background: url(../img/inicio.png);
	background-size: 100%;
}
.inicio,.nosotros,.soporte,.contacto,.servicios
{
	background-repeat: no-repeat;
	background-size: 100%;
	height: 80px;
	width: 100px;
}

#light
{
	background-color: #000;
	display: none;
	overflow: visible;
	padding: 10px;
	position: fixed;
	top: 40%;
	left: 37%;
	z-index: 1002;
	width: 300px;
	border-radius: 10px;
	border: 1px solid #FF0;
}
#light p
{
	color: #FF0;
}

.login
{	
	width: 20px;
	border: none;
	background-color:#00B233;
}

.Login_mostrar
{
	display: none;
	position: absolute;
	right: 80px;
	top: 12px;
}
.loginButton
{
	position: absolute;
	right: 20px;
	top: 15px;
}

.logo
{
	background-color: #CCC;
	background-size: 100%;
	border: 3px #333 solid;
	border-radius: 100%;
	box-shadow: #000 0 10px 50px;
	float: left;
	height: 150px;
	margin-left: -15px;
	margin-top: -50px;
	width: 150px;
}
.logo .imagen
{
	background-image: url(../img/logo.png);
	background-repeat: no-repeat;
	background-size: 100%;
	height:100px;
	left: -18px;
	position: relative;
	top: 20px;
	width: 180px;
	
}
@-webkit-keyframes rotater {
    0% { -webkit-transform:rotate(0) scale(1) }
	50% { -webkit-transform:rotate(360deg) scale(1) }
	100% { -webkit-transform:rotate(360deg) scale(1) }
}
.logo .imagen:hover{
	opacity: 1;
	 /* safari / chrome */
    -webkit-animation-name:rotater; 
    -webkit-animation-duration:1s; 
    -webkit-animation-iteration-count:1; 
    -webkit-animation-timing-function: ease-out;
    
    /* mozilla */
    -moz-transform:rotate(360deg) scale(2);
    -moz-transition-duration:1s;
    -moz-transition-timing-function: ease-out;
    
    /* opera */
    -o-transform:rotate(360deg) scale(2);
    -o-transition-duration:1s;
    -p-transition-timing-function: ease-out;
    
    /* ie */
    -ms-transform:rotate(360deg) scale(2);
    -ms-transform-duration:1s;
    -ms-transform-timing-function: ease-out;
	z-index: 1000;
}

nav
{ 
	background: rgba(57,14,87,0.9);
	border-radius: 10px 10px 10px 10px;
	cursor: pointer;
	height: auto;
	position: absolute;
	top: 210px;
	width: 100px;
}
.nosotros
{
	background: url(../img/nosotros.png);
	background-size: 100%;
}


.pie
{
	width: 100%;
	background-color: #000;
	position: absolute;
	margin-left:-8px;
	bottom: 0;
	height: 50px;
	text-align: center;
}

.pie small
{
	opacity: 0.5;
	position: absolute;
	left: 50px;
	margin-top:15px;
	color: #FFF;
}

.servicios
{
	background: url(../img/servicios.png);
	background-size: 100%;
}

.soporte
{
	background: url(../img/soporte.png);
	background-size: 100%;
}

.volver 
{
	width: 40px;
	height: 40px;
	background-image: url(../img/back.png);
	position: absolute;
	right: 40px;
	bottom: 30px;
	cursor: pointer;
}


