@font-face {
	font-family: 'botoncitos';
	src:url('../fonts/icomoon.eot?nwmkrn');
	src:url('../fonts/icomoon.eot?#iefixnwmkrn') format('embedded-opentype'),
		url('../fonts/icomoon.woff?nwmkrn') format('woff'),
		url('../fonts/icomoon.ttf?nwmkrn') format('truetype'),
		url('../fonts/icomoon.svg?nwmkrn#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}
.item1:before{
	font-family: "botoncitos";
	content: "\e615";
}
.item2:before{
	font-family: "botoncitos";
	content: "\e613";
}
.item3:before{
	font-family: "botoncitos";
	content: "\e614";
}

.contenido{
	margin: 0px 10px 0px 50px
}
h2{
	padding: 0;
	margin: 0;
}
p{
	padding: 0;
	margin: 0;
}
.principal{
	margin: 0px 340px 0px 0px;
	padding: 10px 0px 0px 0px;
}
.lado{
	background: #FFC147;
	width: 450px;
	position: relative;
	left: 380px;
	bottom: 418px; 
}
.texto{
	color: #fff;
	text-align: justify;
	margin: 0px 20px 0px 20px;
	padding: 10px;
}
.titulo{
	color: #fff;
	padding: 10px;
	border-bottom: 3px #fff solid;
	margin: 0px 10px 0px 10px;
	text-align: center;
}
.titulo2{
	color: #fff;
	padding: 4px;
	border-bottom: 3px #fff solid;
	text-align: center;
	margin: 0px 10px 0px 10px;
}
.empresa{
	margin-bottom: 10px;
	background: #e80c64;
	
}
.mision{
	margin: 0px 135px 8px 0px;
	padding: 0px 0px 50px 0px;
	background: #199383;
}
.vision{
	margin: 0px 20px 0px 0px;
	background: #323232;
}
.otro{
	width: 330px;
	height: 162px; 
	position: relative;
	left: 500px;
	margin-top:-420px;
	background: #000;
}